/node_modules
/public/hot
/public/uploads/chat
/public/uploads/content_modals
/public/uploads/contacts
/public/uploads/deposit
/public/uploads/id_card
/public/uploads/player_rules
/public/uploads/users
/public/uploads/withdraws
/public/uploads/withdraws_credit
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
