.select-lang > div{
    margin-left: 5px;
}

.header_login{
    font-size: 20px;
}

.header_login > form{
    display: flex;
}

.button_login{
   background: -webkit-linear-gradient(473deg, #fa8900 20%, #ffce4f 100%);
   color: #ffffff;
   font-size: 25px;
}

.form_user{
    margin: 0 5px;
}

.form_user > div{
    color: #000000;
}


.form_user_send{
    display: flex;
    align-items: center;
}

.single_jackpot_all > .single-jackpot{
    height: 100%;
}

.lotto_list_colum_2{
    display: flex;
}

.lotto_list_colum_2 > .lotto_list_colum_2_detail{
    flex-grow: 1;
    text-align: center;
    border: 1px solid #ffce4f;
    margin: 0 5px;
    border-radius: 10px;
    overflow: hidden;
    font-size: 25px;
}

.lotto_list_colum_2 > .lotto_list_colum_2_detail > div{
    padding: 5px;
}

.lotto_list_colum_2 > .lotto_list_colum_2_detail > div:first-child{
    background: -webkit-linear-gradient(473deg, #fa8900 20%, #ffce4f 100%);
    color: #ffffff;
}

.header_after_login {
    margin: 0 5px;
    font-size: 20px;
}

.header_after_login:last-child {
    margin: 0 0 0 5px;
    cursor: pointer;
}

.button_plus_story{
    background: -webkit-linear-gradient(473deg, #fa8900 20%, #ffce4f 100%);
    color: #ffffff;
    font-size: 25px;
 }

 .new_story{
    background: -webkit-linear-gradient(473deg, #fa8900 20%, #ffce4f 100%);
    color: #ffffff;
    font-size: 25px;
 }

 .new_story:first-child{
    margin-right: 5px;
 }

 .new_story_cancel{
     font-size: 25px;
 }

 .new_affiliate{
    background: -webkit-linear-gradient(473deg, #fa8900 20%, #ffce4f 100%);
    color: #ffffff;
    margin-right: 5px;
 }

 .new_affiliate:last-child{
    margin-right: 0;
 }

 .set_profile:hover{
    color: #0056b3;
 }

 .register_form{
     font-size: 30px;
 }

 .card_list_lottery{
    position: fixed;
    z-index: 10;
    bottom: 0;
    width: 100%;
    height: 90px;
    background:  #fa8900;
    padding: 15px;
    color: #fff;
 }

 .lottert_detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .button_number:active{
    background:  #fa8900;
    color: #fff;
 }
